@charset "UTF-8";

.top{
    width: 100%;
}

.top-container{
    max-width: 1440px;
    position: relative;
    margin: 0px auto;
}

.banner{
    display: block;
    width: 100%;
}


.header{
    width: 100%;
    position: absolute;
    padding-top: 24px;
    top: 0px;
}

.logo{
    width: 160px;
    margin-left: 50px;
    float: left;
}

.nav{
    float: right;
    margin-right: 50px;
    margin-top:6px; 
}

.nav li{
    float: left;
    color: #fff;
    margin-left:80px; 
}

.top-container-cml{
    position: absolute;
    width: 100%;
    top: 230px;
    left: 0px;
}

.top-container-cml p{
    color:#fff;
    text-align: center;
    padding-bottom:40px;
}


.f24{
    font-size: 24px;
    line-height: 24px;
}

.f48{
    font-size: 48px;
    line-height: 48px;
}

.btn{
    margin: 0px auto;
    width: 296px;
}

.btn-defult{
    width: 128px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid #fff;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 13px;
    margin: 0px 10px;
}

.content{
    width: 100%;
}

.introduce{
    max-width: 1226px;
    margin: 0px auto;
}

.title{
    font-size: 24px;
    color: #474D66;
    line-height: 36px;
    padding-top:4.8%;
}

.text{
    font-size: 14px;
    color: #474D66;
    line-height: 20px;
    margin-top:0.8%;
    margin-bottom:5.2%; 
}

.introduce-list ul li{
    width: 33.3%;
    float: left;
    padding:0px 5%;
    margin-bottom: 5.2%;
}
.introduce-list-title{
    color: #474D66;
    font-size: 20px;
    text-align: center;
}
.introduce-list-text{
    color: #7A8899;;
    font-size: 13px;
    line-height: 20px;
    margin-top:10px; 
}

.platform{
    width: 100%;
    background-color: #F4F4F4;
}

.platform-img{
    max-width: 1222px;
    margin: 0px auto;
}

.platform-img img{
    width: 100%;
}

.platform-bottom{
    max-width: 727px;
    margin: 110px auto 0px;
}

.platform-bottom img{
    width: 100%;
}

.bottom{
    width: 100%;
    height: 300px;
    background-color:#3B3E4D;
}

.cml-logo{
    float: left;
    margin-top: 60px;
    height: 147px;
    border-right: 1px solid #616575;
    padding-right: 60px;
    margin-left:72px; 
}

.row{
    float: left;
    margin-top:60px; 
}

.link-column{
    float: left;
    margin-left:72px;
}

.link-column-title{
    font-size: 12px;
    color: #7A8899;
    padding-bottom: 10px; 
}

.link-column a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #AFB7C2; 
    margin-top: 10px;
    line-height: 20px;
}

.link-column ul{
    margin-top: 10px;
}

.link-column ul li{
    float: left;
    margin-right:26px; 
}
.link-column ul li:last-child{
    margin-right:0px;
}



